<div class='dashboard'>
  <div class='container'>

  <div class='container'>
    <h2 style='margin-top: 2em;'>Manage Your Collections</h2>
    <br>
          <a
        href='/collections/add'
        class='btn2'
      ><i class="bi bi-plus-circle"></i> Add</a>
      <hr>
    <ul>
      {{#each collections}}
        <li>
          <div
            class='card text-center shadow  mb-5 bg-body rounded'
            style='width: 20em; min-height: 30em;'>
            <!-- Card Favorite Icon -->
             <ul class="list-group list-group-flush">
              <li class="list-group-item" style="display: flex; justify-content:end"><i class="bi bi-star" ></i></li>
            </ul>
            <!-- Card Image -->
            <img src='{{this.image}}' class='card-img-top' style="height: 200px; width: 100%; "  />
            <!-- Card Title -->
            <h5 class='card-header text-uppercase '>{{this.title}}</h5>
            <div class='card-body'>
              <!-- Card Description -->
              <p class='card-text'>{{this.description}}</p>
              {{!-- <p class='card-text'><small class='text-muted'>Tags</small></p> --}}
            </div>
            <!-- Card Author -->
            <div class=' text-muted'>{{this.author}}</div>
            <!-- Card Buttons -->
            <ul class='list-group list-group-flush card-footer'>
              <li class='list-group-item '>
                <a href="/collections/edit/{{this.id}}" type='button' class='btn btn-outline-warning'><i
                    class='bi bi-pencil'
                  ></i></a>
                <form action="/collections/remove" method="post">
                  <input type="hidden" name="id" value="{{this.id}}">
                  <button type="submit"class='btn btn-outline-danger'>
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
                <a class='btn btn-outline-primary'>
                  <i class="bi bi-send"></i>
                  </a>
              </li>
            </ul>
          </div>
        </li>
      {{/each}}
    </ul>
    {{#if emptyCollections}}
      <p>No Collections yet! Start your own collection <a href="/collections/add" class="linkNew">here</a></p>
    {{/if}}
  </div>
</div>