<div class='dashboard'>
  <div class='container'>

  <div class='container'>
    <h2 style='margin-top: 2em;'>Manage Your Collections</h2>
    <br>
          <a
        href='/collections/add'
        class='btn2'
      ><i class="bi bi-plus-circle"></i> Add</a>
      <hr>
    <ul>
      {{#each collections}}
        {{!-- <li>{{this.title}}</li> --}}
        <li>
          <div
            class='card text-center shadow  mb-5 bg-body rounded'
            style='width: 25em;'
          >
            <img src='{{this.image}}' class='card-img-top' style="height: 250px; width: 100%; "  />
            <h5 class='card-header text-uppercase '>{{this.title}}</h5>
            <div class='card-body'>
              <p class='card-text'>{{this.description}}</p>
              {{!-- <p class='card-text'><small class='text-muted'>Tags</small></p> --}}
            </div>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item'>
                <a href="/collections/edit/{{this.id}}" type='button' class='btn btn-outline-warning'><i
                    class='bi bi-pencil'
                  ></i></a>
                <form action="/collections/remove" method="post">
                  <input type="hidden" name="id" value="{{this.id}}">
                  <button type="submit"class='btn btn-outline-danger'>
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
              </li>
            </ul>
            <div class='card-footer text-muted'>{{this.author}}</div>
          </div>
        </li>
      {{/each}}
    </ul>
    {{#if emptyCollections}}
      <p>No Collections yet! Start your own collection <a href="/collections/add" class="linkNew">here</a></p>
    {{/if}}
  </div>
</div>